.topcont {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 4%, rgb(187, 159, 111) 19%, rgb(132, 102, 68) 71%, rgba(132,102,68,0) 100%); /* FF3.6+ */

    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 4%,rgb(187, 159, 111) 19%,rgb(132, 102, 68) 71%,rgba(132,102,68,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 4%,rgb(187, 159, 111) 19%,rgb(132, 102, 68) 71%,rgba(132,102,68,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 4%,rgb(187, 159, 111) 19%,rgb(132, 102, 68) 71%,rgba(132,102,68,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 4%,rgb(187, 159, 111) 19%,rgb(132, 102, 68) 71%,rgba(132,102,68,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgb(42, 132, 59)',GradientType=1 ); /* IE6-9 */

}
 .topcont {
    height: 61px !important;
}
.x-tab-bar-body-default-top {
    padding-bottom: 0;
}

.logobox {
    width: 200px;
    height: 59px;
    padding-left: 10px;
    display: inline-block;
    padding: 3px;
}
img.imghead {
float: left;
height: 53px;
margin-top: 3px;
}

/* Site Background*/
.x-panel-body-default, .x-tree-view {
    background: #F0F1F1;
}
.x-panel-body-default, .x-tree-view {
    background: #F0F1F1;
}
.satimage {
    height: 61px;
    background: url("../images/top_banner.png");
    background-repeat-x: no-repeat;
    background-position-x: 100%;
}
.x-toolbar-default {
border-color: #BBBBBB;
border-width: 1px;
background-image: none;
background-color: #F0F1F1;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0% #F0F1F1),color-stop(100%,#D4D0BF));
background-image: -webkit-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: -moz-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: -o-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: linear-gradient(top #F0F1F1,#D4D0BF);
}
.topheader {
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 2.2em;
    text-transform: uppercase;
    letter-spacing: .3em;
    white-space: nowrap;
    position: absolute;
    width: 78%;
    color: #F0F1F1;
    text-shadow: 0px 2px 3px #000000;
    height: 49px;
}
.x-panel-header-default {
    border: 1px solid #BB9F6F !important;
    border-top: 1px solid #BB9F6F !important;
    background-color: #BB9F6F;
}
.x-panel-header-text-container-default {
    color: #FFFAF4;
}
.x-panel-default-framed {
background-color: #F0F1F1;
border-radius: 0px !important;
}
.x-splitter {
    background: #F0F1F1;
    border-left: 1px solid rgba(175, 163, 153, 0.56);
    border-top: 1px solid rgba(175, 163, 153, 0.58);
}
.x-panel-body-default {
border: 1px solid #DF9434;
}
.x-panel-body-default-framed {
background-color: #F0F1F1;
}
.x-grid-row-before-focused{
    background-color: #CBC9BD;
}
.x-grid-row-focused .x-grid-td {
border-bottom-color: #CBC9BD;
}
.x-grid-row-selected .x-grid-td {
background-color: #CBC9BD;
}
.x-grid-row-over .x-grid-td {
background-color: #CBC9BD;    
}
.x-grid-cell{
	background: #F0F1F1;
}

.x-window-header-default-top, .x-panel-header-default-framed-top {
    background-image: none;
    background: #2D8A4C;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0), inset 0 1px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.17), inset 0 -15px 30px rgba(0,0,0,0);
}
.x-panel-header-default-framed{
    border: 5px solid #DA800E;
}
.x-panel-default-framed {
    border-color: #AFA399 !important;
}

.olControlLoadingPanel {
    background-image: url("../images/loading.gif");
    background-color: none;
    position: relative;
    margin-left: 50%;
    margin-right: 50%; 
    margin-top: 20%;
    margin-bottom: 30%;  
    width: 60px;
    height: 60px;
    background-position:center;
    background-repeat:no-repeat;
    display: none;
}

.x-panel .x-panel-header-default-framed-top {
border-radius: 0px;
}
.x-border-layout-ct {
background-color: #F0F1F1;
}
.x-panel-header-default .x-tool-img, .x-panel-header-default-framed .x-tool-img, .x-window-header-default .x-tool-img {
background-color: transparent !important;
opacity: 0.8; 
}
/*div#panel-1016_header-body, div#panel-1016_header-innerCt, div#gx_legendpanel-1015_header-innerCt, div#gx_legendpanel-1015_header-body  {
width: 182px !important;
}*/
#TopToolbar .x-btn-default-toolbar-small, #TopToolbar .x-toolbar-item, #TopToolbar .x-form-trigger-wrap{top:0px !important;}
.x-toolbar {
padding: 4px 0 5px 8px;
border-width: 1px !important;
}
.x-toolbar-separator-horizontal {
height: 23px;
border-left-color:#D8D8D8;
border-left-style:inset;

}
.x-panel-default-framed {
padding: 4px;
border-width: 1px;
}
.x-panel-body-default-framed {
border: none;
}


.x-toolbar-footer{
    background: none; 
}
.x-btn-default-toolbar-small{
    background:none; 
    border:none;
}
.x-btn-default-toolbar-small .x-btn-inner{
    color:#000;
    font-weight: normal; 
}
/*div#panel-1018_header-body, div#panel-1018_header-innerCt, div#EcoSearchForm-1019_header-body, div#EcoSearchForm-1019_header-innerCt{
    width: 232px !important; 
}*/
.x-window-header-default {
    border-width: 1px!important;
    border-color: #AFA399;
}
.x-window-default{
    border-radius: 0px;
    border-width: 1px;}
.x-window-header-default-top{
    border-radius: 0px;
}

div.olControlZoom a {
    color: #2D8A4C !important;
    background: rgba(228, 225, 213, 0.56) !important;
    filter: alpha(opacity=80) !important;
    border: solid 1px rgba(45, 138, 76, 0.46);
}
div.olControlZoom a:hover {
    color: #F0F1F1 !important;
    background: #2D8A4C !important;
    background: rgba(45, 138, 76, 0.71) !important;
}
img#OpenLayers_Control_MaximizeDiv_innerImage{
position: absolute !important;
right: 0px !important;
}
.olControlLayerSwitcher .layersDiv {
  background: #F0F1F1 !important;
  color: #000 !important;
  font-size: 12px !important;
  font-weight: normal !important;
  box-shadow: 0px 1px 5px 0px #797563;
  border: solid 1px #9D9C9B;
}
.olControlLayerSwitcher .layersDiv .baseLbl, .olControlLayerSwitcher .layersDiv .dataLbl{
    font-weight: bold !important;
}
.x-splitter-collapsed .x-layout-split-left, .x-splitter-collapsed .x-layout-split-right {
opacity: 0.8 !important;
}
.x-layout-split-left, .x-layout-split-right {
opacity: 0.6 !important;
}
.tools_cls:hover{
border: inset #D5DFE9 1px;
border-radius: 100%;
}
.tools_cls{
border:solid transparent 1px;
border-radius: 100%;
}
.tools_cls:focus{
border: inset #D5DFE9 1px;
border-radius: 100%;
}
.x-panel-default-outer-border-trbl{
/*border-color: #2E5F92 !important; */
border: none !important;
}
div#gx_legendpanel-1015-body {
border-bottom: solid 1px #2E5F92 !important;
overflow: hidden !important;
}
.x-tree-view {
/*border-left: solid 1px #2E5F92;
border-right: solid 1px #2E5F92;*/
}
.x-panel-default {

}
.layersDiv label {
vertical-align: top !important;
line-height: 20px;
}
/*.layersDiv input {
margin-bottom: 7px;
}*/
.x-form-item {
border: none;
}
div#gx_legendpanel-1019 {
border-bottom: solid 1px #DA800E;
}

.statusbar_content {
    display: inline;
    position: absolute;
    padding-top: 10px;
    color: white;
    border: 1px solid rgb(220, 230, 241) !important;
    background: #4E9BD2;
    border-top: 1px solid rgb(220, 230, 241) !important;
}
.updatemessage, div#updatecounter {
display: inline;
}
.tools_countries_cls{
    background: #9F592F;
    margin-left: 3px !important;
margin-top: 1px !important;
border-radius: 3px !important;
border: none !important;
box-shadow: 0px 0px 2px #364B67;
}

.tools_countries_cls:hover{
margin-left: 3px !important;
margin-top: 1px !important;
    background:#9F592F;
border-radius: 3px !important;
border: none !important;
box-shadow: 0px 0px 6px #364B67;
}
.tools_countries_cls:focus {
box-shadow: none;    
}

.x-tab-default-active {
    background-color: #2D8A4C !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0), inset 0 1px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.17), inset 0 -15px 30px rgba(0,0,0,0);
}
.x-tab-default-active .x-tab-inner {
  color: white  !important;
}
.x-tab-bar-default {
    background: #F0F1F1;
}
.x-tab-bar-strip-default {
    border-color: #5B5D5F;
    background-color: #AFA399;
}
a.x-tab, .x-tab-default-top {
    background-color: #D8D8D8;
}
.x-tab-default .x-tab-inner {
    color:#555;
}
  .x-form-item {
display: inline-table;
}

span.customdates {
  margin-right: 30px;
  margin-left: 30px;
}
span.customdateslast {
  margin-left: 27px;
}
div#legend_items-innerCt div div div div div {
  height: 30px !important;
  line-height: 32px;
}
div#legend_items-innerCt div div div div div div div div svg {
    height: 31px !important;
}

.gx-popup-anc {
    background: transparent url(../../lib/geoext2-2.0.2b/resources/images/default/anchor-gray.png) no-repeat 0 0;
}

.gx-popup-anc.top {
    background: transparent url(../../lib/geoext2-2.0.2b/resources/images/default/anchor-top-gray.png) no-repeat 0 0;
}

.x-window-default {
  border-color: #924413;
  }
.x-window-default {
    border-color: #AFA399;
}
#legend_items .x-tool-img {
  background-image: url(../../lib/extjs_4.2.1/resources/ext-theme-neptune/images/tools/tool-sprites.png);
}
.x-accordion-item .x-accordion-hd {
background-color: #F0F1F1;
background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0% #F0F1F1),color-stop(100%,#D4D0BF));
background-image: -webkit-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: -moz-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: -o-linear-gradient(top #F0F1F1,#D4D0BF);
background-image: linear-gradient(top #F0F1F1,#D4D0BF);
}
.x-accordion-hd .x-panel-header-text-container {
  color: #777;
}
.x-btn-default-small {
    background: #2D8A4C;
    box-shadow: 0px 3px 0px 0px #40B0AA;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    position: relative;
    display: inline-block;
    border-color: #4C985A;
    color: #FFFFFF !important;
}

.x-btn-default-small:active {
  transform: translate(0px, 3px);
  -webkit-transform: translate(0px, 3px);
  box-shadow: 0px 1px 0px 0px;
    color: #FFFFFF !important;
}

.x-btn-default-small:hover {
    background-color: #3B8C5E;
    color: #FFFFFF !important;
}
div#toolbar-1022-innerCt, div#toolbar-1024-innerCt,div#toolbar-1026-innerCt{
      height: 33px !important;
}

.x-accordion-layout-ct{
    padding-right: 0px;
    padding-left:0px;
}
.logos {
  text-align: center;
}
#logopanelID {
  position: absolute;
  bottom: 0px; 
  border-top: 1px solid rgba(175, 163, 153, 0.56);
  padding-top: 3px;
}
#legend_items {
/*  height:auto!important;*/
  overflow: hidden;
}
#legend_items-body{
  overflow: auto; 
}
.x-datepicker-month .x-btn-inner:hover {
  color: #FFFFFF !important;
}
.popup_title {
  padding: 8px;
  border-top: solid 1px #5C5856;
  border-bottom: solid 1px rgba(97, 93, 90, 1);
  background: rgba(223, 194, 50, 0.46);
  color: #282525;
  font-weight: bold;
  margin:-6px -6px 5px -6px;
}
div#poup_id-body {
  background: rgba(228, 225, 213, 0.83);
}
.popup_cls {
  background: transparent;
    line-height: 18px;
}
a#subscribehButtonId {
  float: right;
}
table.popup_fire_detail_table {
  width: 105%;
  border-collapse: collapse;
  border-color:rgb(219, 221, 204);
  margin: -7px;
    height: 112px;
}
td.columnA_title, td.columnB_title, td.columnA_content, td.columnB_content  {
  padding-left: 5px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px;
  border: solid 1px #B6BA9F;
  vertical-align: middle;
}
table.popup_fire_detail_table tr {
  height: 20px;
}
td.columnB_title {
  width: 63px;
}
td.columnA_title {
  width: 80px;
}
td.columnA_content {
  width: 45px;
}
.popup_title.risks {
  margin: 5px -6px 5px -6px;
}
#subscribe_form_id .x-toolbar.x-docked.x-toolbar-footer.x-docked-bottom.x-toolbar-docked-bottom.x-toolbar-footer-docked-bottom.x-box-layout-ct {
  top: 350px !important;
}
#subscribe_form_id .x-box-inner {
  height: 32px !important;
}


#subscribe_country_check_id-boxLabelEl{
  float: left;
  width: 111px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}

label#range_search_heatmap_check_id-boxLabelEl {
  float: left;
  width: 104px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}
label#custom_search_heatmap_check_id-boxLabelEl {
  float: left;
  width: 104px;
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
}
input#custom_date_id-inputEl, input#custom_month_id-inputEl, input#custom_year_id-inputEl {
  width: 66px !important;
}

div#MousePosition_id {
  background-color: rgba(228, 225, 213, 0.67);
  padding: 5px;
}
.heatmap_label {
  padding-bottom: 10px;
}
.logos img {
  display: inline-block;
  margin-right: 19px;
}
@media screen and (max-height: 300px) {
  div#legend_items-body{

  }
}
.risks_content {
  max-height: 200px;
  overflow: auto;
  margin-right: -5px;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
background-color: #C3C3C0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #C0C0BE;
}
#range_search_id .x-box-inner, #single_search_id .x-box-inner, #custom_search_id .x-box-inner  {
  height: 32px !important;
}
#single_search_id_header, #range_search_id_header, #custom_search_id_header {
  height: 35px;
}